<div class="pagetitle">
    <h1>Score</h1>
  </div>

  <section class="section profile">
    <div class="row">
      <div class="">
        <div class="card">
          <div class="card-body pt-3">
            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#file-text">Send new score</button>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/score_action" data-bs-target="#file-text">Score Action</a>
              </li>
            </ul>

            <div class="tab-content pt-1">
              <div class="tab-pane fade show active pt-1" id="file-text">
                <form method="POST" enctype="multipart/form-data">
                  <div class="row mb-3">
                    <div class="col-md-2">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="all" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          All
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="subject">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Subject
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="body">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Body
                        </label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="url">
                        <label class="form-check-label" for="flexRadioDefault2">
                          URL
                        </label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row mb-3">
                    <label for="text" class="col-md-3 col-lg-2 col-form-label">Regex/SimpleText</label>
                    <div class="col-md-8 col-lg-6">
                      <input name="text" type="text" class="form-control" id="text" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="score" class="col-md-3 col-lg-2 col-form-label">Score Value</label>
                    <div class="col-md-8 col-lg-1">
                      <input name="score" type="number" class="form-control" id="score" required>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" id="save-changes-btn" class="btn btn-primary">Save Changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <table id="data-table" style="text-align: center;" class="table ">
              <thead>
                <tr>
                  <th scope="col">Regex/simpletext</th>
                  <th scope="col">Type</th>
                  <th scope="col">Score</th>
                  <th scope="col">Creation-Date</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tbody>
            </table>
            
          </div>
        </div>

      </div>
    </div>
  </section>


  <script>
      var datatables; 
      function updateTable(data) {
        if (datatables) {
      datatables.destroy();
      datatables.clear();
    }
        var tableBody = $('#data-table tbody');
        tableBody.empty();
        data.forEach(function(row) {
          var tableRow = $('<tr>');
            for (var index = 1; index < row.length; index++) {
              var cell = row[index];
              var tableCell = $('<td>').text(cell);
              tableRow.append(tableCell);
            
            if (index === row.length - 1) {
              var deleteButton = $('<button>').text('Exclude').attr('data-id', row[0]);
              deleteButton.addClass('btn btn-danger'); 
              deleteButton.click(function() {
                var rowId = $(this).data('id');
                deleteRow(rowId);
              });
              var deleteCell = $('<td>').append(deleteButton);
              tableRow.append(deleteCell);
            }
          }
          tableBody.append(tableRow);
        });



    datatables = $('#data-table').DataTable({
      "order": [[0, "desc"]],
      "pageLength": 100
    });

    var dataTableWrapper = $("#data-table_wrapper");
    var refreshButton = $('<button id="refresh" type="button" onclick="fetchScoreTable()" style="margin:10px">').text('refresh').addClass('btn btn-primary');
    dataTableWrapper.find(".dataTables_filter label").append(refreshButton);
  }



      function fetchScoreTable() {
        $.ajax({
          url: '/score_table', 
          type: 'GET',
          success: function(response) {
            updateTable(response);
          },
          error: function(error) {
            console.error(error);
          }
        });
      }
      function deleteRow(rowId) {
    $.ajax({
      url: '/delete_row', 
      type: 'POST',
      data: { id: rowId },
      success: function(response) {
        fetchScoreTable();
      },
      error: function(error) {
        console.error(error);
      }
    });
  }

  $('#save-changes-btn').click(function () {
      var formData = {
        flexRadioDefault: $('input[name=flexRadioDefault]:checked').val(),
        text: $('#text').val(),
        score: $('#score').val()
      };
      if (formData['text'] && formData['score']){
      $.ajax({
        url: '/save_score',
        type: 'POST',
        data: JSON.stringify(formData), 
        contentType: 'application/json', 
        success: function (response) {
          fetchScoreTable();
        },
        error: function (error) {
          console.error(error);
        }
      });
    }else{
      window.location.href = '/result?result=INSERT THE REGEX/TEXT AND SCORE&url=/score';
    }
    });

  $(document).on('click', '.delete-button', function() {
    var rowId = $(this).data('id');
    deleteRow(rowId);
  });

      fetchScoreTable();

    
  </script>
  
  

